@model CreateStudent
@{
    ViewData["Title"] = "Dodaj ucznia";
}

<div class="text-center">
    <h1 class="display-4">Dodaj ucznia</h1>
    <form asp-controller="Admin" asp-action="RegisterStudent" method="post">
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>
        <span asp-validation-for="Email" class="text-danger"></span> <br>

        <label asp-for="Name"></label>
        <input asp-for="Name"><br>
        <span asp-validation-for="Name" class="text-danger"></span> <br>

        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <label asp-for="ParentId"></label>
        <select asp-for="ParentId" asp-items="@ViewBag.parents"></select>
        <span asp-validation-for="ParentId" class="text-danger"></span> <br>

        <button type="submit">Dodaj ucznia</button><br><br>
        @if(ViewBag.error == "true") {
            <span class="text-danger">Bład podczas tworzenia ucznia</span>
        }
        @if(ViewBag.error == "false") {
            <span class="text-success">Pomyślnie dodano ucznia</span>
        }
    </form>

</div>
