<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Dziennik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3" class="nav">
            <div class="container-fluid" class="bar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-Dziennik</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Użytkownicy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="RegisterStudent">Dodaj Ucznia</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="RegisterUser" asp-route-role="teacher">Dodaj Nauczyciela</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="RegisterUser" asp-route-role="parent">Dodaj Rodzica</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="RegisterUser" asp-route-role="admin">Dodaj Administratora</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="UserList">Lista użytkowników</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Klasy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Group" asp-action="Add">Dodaj klasę</a></li>
                                <li><a class="dropdown-item" asp-controller="Group" asp-action="List">Lista klas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Przedmioty
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Subject" asp-action="Add">Dodaj przedmiot</a></li>
                                <li><a class="dropdown-item" asp-controller="Subject" asp-action="List">Lista przedmiotów</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ogłoszenia
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Announcement" asp-action="Index">Ogłoszenia</a></li>
                                <li><a class="dropdown-item" asp-controller="Announcement" asp-action="Add">Dodaj ogłoszenie</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    
                <div class="form-group">
                    <div class="select">
                        <i class="material-icons md-36">palette</i>
                        <select class="select__input" id="selTheme">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Index">Admin @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        E-Dziennik  
        <div id="google_translate_element"></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/theme.js" asp-append-version="true"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" asp-append-version="true"></script>
</body>
</html>
