@model LoginUser
@{
    ViewData["Title"] = "Logowanie";
}

<div class="text-center" class="login-box">
    <i class="fa-solid fa-user-tie"></i>
    <h1 class="display-4">Logowanie</h1>
    <form asp-controller="Account" asp-action="Login" method="post" class="formularz">
        <label asp-for="Email" placeholder="podaj imię"></label>
        <input asp-for="Email"><br>
        <span asp-validation-for="Email" class="text-danger"></span> <br>

        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <button type="submit">Zaloguj się</button><br>
        <span class="text-danger">@ViewBag.msg</span>
    </form>
</div>

            
        
       