@{
    ViewData["Title"] = "Klasy";
}

<div class="text-center">
    <h1 class="display-4">Klasy</h1>
    <a asp-controller="Group" asp-action="Add">Dodaj klasę</a><br>
    <a asp-controller="Group" asp-action="List">Lista klas</a><br>
</div>
