@{
    ViewData["Title"] = "Przedmioty";
}

<div class="text-center">
    <h1 class="display-4">Przedmioty</h1>
    <a asp-controller="Subject" asp-action="Add">Dodaj przedmiot</a><br>
    <a asp-controller="Subject" asp-action="List">Lista przedmiotów</a><br>
</div>
